
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

   
    <div id="Inventory">
        <h4>Inventory</h4>
        <table>
            <thead>
                <tr>
                    @ViewBag.Cars
                    <th>Make</th>
                    <th>Model</th>
                    <th>Milage</th>
                </tr>
            </thead>

        </table>
        
    </div>
</body>
</html>
